.icon-cog:before { content: '\e800'; }
.icon-facebook:before { content: '\e801'; }
.icon-twitter:before { content: '\e802'; }
.icon-linkedin:before { content: '\e803'; }
.icon-youtube:before { content: '\e804'; }
.icon-check:before { content: '\e805'; }
.icon-location:before { content: '\e806'; }
.icon-up:before { content: '\e807'; }
.icon-plus:before { content: '\f0d5'; }