//HOMEPAGE
//For hero styles go to homepage_hero.scss

//--START steps--//
.content {
    .steps-detail {
    width: 845px;
    padding: 60px 0 0 0;
    margin: 0 auto;
    h3 {
        text-align: center;
        color: #0b3145;
        font-size: 32px;
        line-height: 30px;
        font-weight: bold;
        padding-bottom: 11px;
        margin: 0;
    }
    h4 {
        text-align: center;
        color: #636363;
        font-size: 18px;
        line-height: 20px;
        padding: 0;
        margin: 0 0 50px 0;
        text-transform:uppercase;
    }
    .first-step {
        .step-num {
            width: 74px;
            @include border-radius(50%);
            border: 2px solid;
            font-size: 31px;
            text-align: center;
            max-height: 74px;
            line-height: 74px;
            font-weight: bold;
            color: $kinglet-orange;
            font-family: Montserrat, sans-serif;
            margin: 0 auto 53px auto;
            /*&:after {
                content: "";
                position: absolute;
                border: 1px solid $kinglet-orange;
                top: 13%;
                width: 74.9%;
                left: 62.6%;
            }*/
        }
        .step-num2 {
            border: 2px solid;
            color: $kinglet-blue;
            /*&:after {
                content: "";
                position: absolute;
                border: 1px solid $kinglet-blue;
                top: 13%;
                width: 74.9%;
                left: 62.6%;
            }*/
        }
        .step-num3 {
            border: 2px solid;
            color: $kinglet-blue-dark;
            &:after {
                border: none;
            }
        }
        .step-bottom-detail {
            text-align: center;
            h5 {
                font-size: 18px;
                line-height: 20px;
                font-weight: bold;
                color: #002451;
                font-family: Montserrat, sans-serif;
                margin: 0;
                padding-bottom: 24px;
            }
            p {
                font-size: 14px;
                line-height: 21px;
                color: #636363;
                a {
                    display: block;
                    color: $kinglet-orange;
                    font-size: 13px;
                    line-height: 24px;
                    text-transform: uppercase;
                    text-decoration: none;
                    span {
                        color: $kinglet-blue;
                    }
                }
            }
        }
    }
    .start-search {
        text-align:center;
        margin-bottom: 72px;
        a {
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-family: Montserrat, sans-serif;
            line-height: 56px;
            text-align: center;
            margin-top: 64px;
            background: $kinglet-orange;
            display: block;
            @include border-radius(4px);
            width: 200px;
            display: inline-block;
            /*&:last-child {
                background:  url("../images/confused-icon.png") left center no-repeat;
                font-size: 14px;
                line-height: 43px;
                color: #636363;
                padding-left: 53px;
                margin-left: 43px;
                font-weight:400;
            }*/
            }
        }
    }
//--END Steps--//

//--START Featured Properties--//
    .editor-pick {
        background:  url("/img/city-bg.jpg") center center no-repeat;
        padding: 48px 0 0;
        background-size: cover;
        h3 {
            font-size: 32px;
            line-height: 26px;
            color: #fff;
            text-align: center;
            font-weight: bold;
            padding-bottom: 20px;
            margin: 0;
        }
        ul {
            text-align: center;
            padding-bottom: 34px;
            li {
                display: inline-block;
                font-size: 18px;
                line-height: 20px;
                color: #abb529;
                text-transform: uppercase;
                + li {
                    color: #79cff3;
                    + li {
                    color: #0864d4;
                        + li {
                            color: #f78c2c;
                        }
                    }
                }
            }
        }
        .our-editor {
            background: url("../images/editor-arrow.png") left bottom no-repeat;
            padding-bottom: 26px;
            margin-bottom: -10px;
            a {
                font-size: 14px;
                line-height: 25px;
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
//--Mid Featured START Featured Content--//
    .center{
        text-align:center;
    }
    .content-bottom {
        padding: 15px 0 25px;
        background-color:$kinglet-gray-super-light;
        .row:last-child .city-detail-row{
            border-bottom:none;
        }
        .feature-header{
            padding:30px 0 18px;
            h4{
                font-size: 32px;
                color: $kinglet-gray-mid;
                font-weight:normal;
                margin:0;
                letter-spacing:1px;
                text-align:center;
            }
        }
        .city-detail{
            text-align:center;
        }
        .city-detail-row {
            padding: 18px 0 0;
            //border-bottom: 1px solid $kinglet-gray-light;
            .darken-thumbnail{
                position:absolute;
                background-color: rgba(0,0,0,0.3);
                z-index: 22;

            }
            .city-detail {
                .color-box {
                    height: 5px;
                    display: inline-block;
                }
                .city-name {
                    padding-bottom: 18px;
                    //background: url("../images/city-name-bottom-border.png") left bottom no-repeat;
                    //margin-bottom: 26px;
                    h4 {
                        font-size: 18px;
                        //line-height: 25px;
                        color: $kinglet-gray-mid;
                        font-weight: normal;
                        text-transform: uppercase;
                        margin: 0;
                        letter-spacing: 1px;
                        text-align:center;
                    }
                    span {
                        font-size: 14px;
                        line-height: 22px;
                        color: #999;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }
                p {
                    font-size: 15px;
                    line-height: 22px;
                    color: #636363;
                    letter-spacing: 0.7px;
                    padding-bottom: 20px;
                    margin: 0;
                }
                .office-space{
                    font-size:12px;
                    color:$kinglet-gray-mid;
                    float:left;
                    margin:0 0 0 3px;
                    span{
                        margin: 0 5px;
                    }
                    &:last-child span{
                        display:none;
                    }
                }
                a {
                    font-size: 22px;
                    //line-height: 21px;
                    color: $kinglet-orange;
                    text-transform: uppercase;
                    text-decoration: none;
                    font-weight: bold;
                }
                &.see-all{
                    padding:6px 10px;
                    display:inline-block;
                    background-color:transparent;
                    @include border-radius(4px);
                    margin:48px 0;
                    &:hover{
                        background-color:$kinglet-orange;
                        a{
                            color:#fff;
                        }
                    }
                    a{
                        color:$kinglet-orange;
                    }
                }
                .city-thumbnail {
                    height:240px;
                    overflow:hidden;
                    img {
                        position: relative;
                        width: 100%;
                        }

                    .total-available {
                        position: absolute;
                        background: rgba(0, 0, 0, 0.6);
                        bottom: 83px;
                        line-height: 40px;
                        font-size: 14px;
                        font-weight: bold;
                        color: #fff;
                        padding: 0 20px;
                    }
                }
                .location-title {
                    font-size: 15px;
                    //line-height: 26px;
                    color:  #464646;
                    margin: 3px 0 0 3px;
                    display: block;
                    text-align:left;
                }
            }
        }
    }

//--END Featured Properties--//


//--START Video--//
    .container.para {
      max-width: 960px;
      margin: 0 auto;
    }

    div.module:last-child {
      margin-bottom: 0;
    }

    .module p {
      margin-bottom: 40px;
      font-size: 32px;
      font-weight: 300;
      &.new-hp-video{
        margin-bottom:0;
        font-size:39px;
      }
    }

    .module.parallax {
      height: 520px;
      background-position: 50% 50%;
      background-repeat: no-repeat;
      //background-attachment: fixed;
      background-size: cover;
      &.new-hp-video{
        height:380px;
      }
    }

    .module.parallax-1 {
      background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("../images/video_bg.jpg") center top no-repeat;
    }

    .video {
        color: #fff;
        text-align:center;

        &:hover {
            cursor: pointer;
        }

        p {
            font-size: 39px;
            padding-top: 155px;
            padding-bottom: 50px;
            line-height: 46px;
            color:#fff;
            &.new-hp-video{
                padding-top:52px;
                line-height:inherit;
                padding-bottom:25px;
            }
        }

        i {
            font-size: 8em;
            &.new-hp-video{
                font-size:6em;
                opacity:.7;
            }
        }
    }

    #video-modal {
        .content {
            width: 960px;
            height: 540px;
            margin: 0 auto;
        }
    }
//--END Video--//

//--START Full width holder --//

    .full-width-holder{
        background-color:$kinglet-gray-light;
        background-size: cover;
        padding: 52px 0;
        &.more-info{
            background: url("/img/color-bg.png") repeat-y top center;
        }
        &.trusted{
            min-height:100px;
            padding:25px 0;
        }
        &.blog{
            background-color:$main-orange;
            padding:80px 0;
            text-align:center;
            h2, p{
                color:#fff;
            }
            h2{
                font-size:40px;
            }
            p{
                font-size:1.2em;
                margin-bottom:36px;
            }
            //TODO:also stolen from info-btn / combine
            .info-btn{
                min-width:180px;
                padding:10px 20px;
                background-image: none;
                background-color:transparent;
                border: 2px solid #fff;
                color:#fff;

                &:hover, a:hover{
                    text-decoration: none;
                    color:#fff;
                    
                }

                &.hvr-rectangle-out{
                    &:before{
                        background: #fff;
                    }
                }
            }
        }
    }


//--END Full width holder --//

//--START Host/Guest more info --//
    .more-info-holder{
        overflow:hidden;
        position:relative;
        width:100%;

        .add-pad{
            padding:0 36px;
        }
        .right-col{
            height:100%;
            position:absolute;
            right:0;
            top:0;
            //border-left:2px solid rgba(255,255,255,.5);
            h1,p.pre-title{
                color:$main-blue;
            }
            p{
                color:#05151d;
            }
            .info-btn{
                border: 2px solid $main-blue;
                color:$main-blue;

                &:hover, a:hover{
                    text-decoration: none;
                    color:#fff;
                    font-weight:bold;
                }

                &.hvr-sweep-to-top{
                    &:before{
                        background: $main-blue;
                    }
                }
            }
        }
        p{
            padding:0 36px 18px 8px;
            color:#F3FDFF;
            font-weight:300;
            font-size:1.2em;
            &.mob-hide{
                display:block;
            }
            &.pre-title{
                padding:0 0 0 4px;
                color:#fff;
                font-size:1em;
                font-weight:300;
            }
            &.pre-btn{
                text-align:center;
                font-size:1.2em;
                color:#fff;
            }
            &:last-of-type{
                margin-bottom:68px;
            }
        }
        h1{
            text-transform:uppercase;
            padding-bottom:16px;
            color:#fff;
            font-size:60px;
            
        }
        .info-button-holder{
            text-align:center;
            position:absolute;
            bottom:0;
            left:0;
            right:0;
        }
        //TODO: duplicated from hero
        .info-btn{
            text-transform:uppercase;
            display: inline-block;
            margin-bottom: 0;
            font-weight: normal;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-image: none;
            border: 2px solid #fff;
            white-space: nowrap;
            padding: 8px 16px;
            font-size: 1em;
            line-height: 1.42857;
            -webkit-user-select: none;
            color:#fff;
            min-width:120px;

            &:hover, a:hover{
                text-decoration: none;
                color:$secondary-blue;
                font-weight:bold;
            }

            &.hvr-sweep-to-top{
                &:before{
                    background: #fff;
                }
            }

        }     
    }


//--END Host/Guest more info --//

//--START Trusted --//
    
    h4.title{
        color:$gray-mid;
        padding-top:15px;
        text-align:center;
    }
    ul{
        &.trusted-list{
            li{
                display:inline-block;
                text-align:center;
                width:19%;
                &.mid-off{
                    display:inline-block;
                }
                &.lg-off{
                    display:none;
                }
                img{
                    width:120px;
                    padding:0 5%;
                    &.tandem, &.whatcounts{
                        width:136px;
                    }
                    &.orderup, &.cordish{
                        width:96px;
                    }
                    &.carr{
                        width:110px;
                    }
                }
            }
        }
    }
//--END Trusted --//

//--START Testimonials--//
//--TODO: Needs cleaning--//

    .testimonial-slider {
    // only show testimonials for screens bigger than $screen-sm-min
        display:none;
        @media (min-width: $screen-sm-min) {
            display: block;
        }
        background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("/img/content/blog-header.jpg") center center no-repeat;
        background-size: cover;
        //min-height: 580px;
        //margin-top: 80px;
        padding: 73px 0;
        .col-sm-4{
            margin:0;
            padding:0;
        }
        h3 {
            font-size: 22px;
            line-height: 26px;
            padding-bottom: 38px;
            background: url("../images/testimonial-top-border.png") bottom center no-repeat;
            text-align: center;
            margin: 0 0 40px 0;
            text-transform:uppercase;
        }

        .carousel-inner{
            .item{
                padding-bottom:282px;
            }
        }
        .carousel-control {
            top: 50%;
            width: auto;
            &.left {
                left: -15%;
                top: 20% !important;
                background: transparent !important;
            }
            &.right {
                right: -15% !important;
                top: 20% !important;
                background: transparent !important;
            }
        }
        .testimonial-inner-detail {
            text-align: center;
            padding:30px;
            border-right:1px solid $gray-dark;
            &.far-right{
                border:0;
            }
            p {
                color: $main-blue;
                font-size: 18px;
                line-height: 28px;
                //Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
                text-shadow: none;
                margin: 0;
                padding: 0;
                font-weight: 400;
                letter-spacing: 0.5px;
                //padding-bottom: 47px;
                letter-spacing:-.5px;
                /* Mike's fix for the circles */
                //height: 290px;
            }
            h4 {
                font-size: 15px;
                line-height: 15px;
                color: $secondary-blue;
                margin: 0;
                padding: 28px 0 6px 0;
            }
            span {
                font-size: 15px;
                line-height: 15px;
                color: $secondary-blue;
                margin: 0;
                padding: 0;
            }
        }
    }
    //recently spotted logo bar
    .logo-bar {
        text-align: center;
        padding: 30px 0;
        li {
            list-style: none;
        }
        h3 {
            font-size: 18px;
            color: #0b3145;
            text-align: center;
            text-transform: uppercase;
            padding-top: 25px;
        }
    }

//--END Testimonials--//

//end content holder
}

//--START responsive--//

//min markers
@media (min-width:1200px){

}
//max markers
@media (max-width: 1200px){
    .content{
        .carousel-inner{
            .item{
                padding-bottom:282px;
            }
        }
    }
}
@media (max-width:990px) {
    .content-bottom {
        padding-top: 0;
        .city-detail-row {
            padding-top: 40px;
            .city-detail a {
                display: inline-block;
                //margin-bottom: 20px;
            }
        }
    }
    .container.para {
      padding:0 40px;
    }
    #video p{
        font-size:48px;
        line-height: 56px;
        padding-top:99px;
    }
    #video-modal {
        .content {
            width: 720px;
            height: 405px;
        }
    }
    .content{
        h4.title{
            font-size:15px;
        }
        ul{
            &.trusted-list{
                li{
                    display:inline-block;
                    text-align:center;
                    width:19%;
                    img{
                        width:103px;
                        padding:0 5%;
                        &.tandem, &.whatcounts{
                            width:110px;
                        }
                        &.orderup, &.cordish{
                            width:78px;
                        }
                        &.carr{
                            width:92px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:767px) {
    .content-bottom .city-detail-row {
        padding-bottom: 0;
        .row > div {
            width: 50%;
            margin: 0 auto;
            float: left;
            //width: 33%;
        }
        .city-detail strong {
            margin: 0;
            font-size: 18px;
            padding: 5px 0 15px;
            font-size: 15px;
            line-height: 18px;
        }
    }
    .content{
        .video{
            .module{
                p{
                    font-size:30px;
                }
            }
        }
        .full-width-holder{
            padding:32px 0;
            &.more-info{
                background-color:$secondary-blue;
                background-image:none;

            }
            &.blog{
                p{
                    font-size:1em;
                }
            }
        }
        .more-info-holder{
            .right-col{
                height:100%;
                position:relative;
                right:0;
                top:0;
                margin-top:32px;
                padding-top:32px;
                border-top:2px solid rgba(255,255,255,.5);

                h1,p.pre-title{
                    color:#fff;
                }
                p{
                    color:#F3FDFF;
                }
                .info-btn{
                    border: 2px solid #fff;
                    color:#fff;

                    &:hover, a:hover{
                        text-decoration: none;
                        color:$secondary-blue;
                        font-weight:bold;
                    }

                    &.hvr-sweep-to-top{
                        &:before{
                            background: #fff;
                        }
                    }
                }
            }
            p{
                font-size:1em;
                &.mob-hide{
                    display:none;
                }
                &.pre-title{
                    font-size:.9em;
                }
                &:last-of-type{
                    margin-bottom:68px;
                }
            }
            h1{
                font-size:42px;
            }
        }
        h4.title{
            padding-top:0;
            margin-top:-10px;
            padding-bottom:10px;
        }
    }
    #video p{
        font-size:40px;
        line-height: 46px;
        padding-top:100px;
    }
    #video-modal {
        .content {
            width: 620px;
            height: 348px;
        }
    }
    div.module.parallax{
        height:488px;
    }
    .row.featured{
        .space:last-child{
            display:none;
        }
    }
}

@media (max-width:640px) {
    #video p{
        padding-top:118px;
        padding-bottom:20px;
    }
    #video-modal {
        .content {
            width: 470px;
            height: 264px;
        }
    }
    div.module.parallax{
        height:470px;
    }
    .content{
        .content-bottom .city-detail-row {
            .city-detail {
                a{
                    font-size:20px;
                }
            }
        }
        ul{
            &.trusted-list{
                li{
                    width:24%;
                    &.mid-off{
                        display:none;
                    }
                }
            }
        }
    }
    .logo-bar{
        display:none;
    }

}

@media (max-width:480px) {
    .row.featured{
        .space:last-child{
            display:none;
        }
    }
    .content{
        .content-bottom .city-detail-row {
            .row > div {
                width: 100%;
            }
            .space{
                margin-bottom:12px;
            }
            .city-detail {
                //TODO - make this work
                .city-thumbnail{
                    //height:120px;
                }
                strong {
                    font-size: 20px;
                    padding: 10px 0 30px;
                }
                a{
                    font-size:13px;
                }
                &.see-all{
                    background-color:$kinglet-orange-dark;
                    color:#fff;
                    margin:24px 0;
                    a{
                        color:#fff;
                    }
                }
            }
        }
        ul{
            &.trusted-list{
                li{
                    width:32%;
                    &.mid-off{
                        display:inline-block;
                    }
                    &.lg-off{
                        display:inline-block;
                    }
                    &:nth-of-type(n+4){
                        padding-top:24px;
                    }
                }
            }
        }
    }
    #video p{
        font-size:32px;
        line-height: 38px;
        padding-top:85px;
    }
    #video-modal {
        .content {
            width: 320px;
            height: 180px;
        }
    }
}

@media (max-width:399px){
    .content{
        ul{
            &.trusted-list{
                li{
                    img{
                        width:95px;
                        &.tandem, &.whatcounts{
                            width:100px;
                        }
                        &.orderup, &.cordish{
                            width:68px;
                        }
                        &.carr{
                            width:82px;
                        }
                    }
                }
            }
        }
    }
}
