//MODAL OVERRIDE
/////////////////////////////////////////

//NEW modal stuff

//START center modal on screen
.modal {
  text-align: center;
}

label{
	color:$main-blue;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

#video-modal {
    .content {
        display: inline-block;
        vertical-align: middle;
    }
}
//END center modal on screen

.modal-title{
	color:$main-blue;
	line-height:1;
	.sm-txt{
		font-size:.8em;
	}
}

.modal-subtitle{
	color:$main-blue;
}

.modal-header{
	&.no-border{
		border:0;
	}
	p{
		font-size:.9em;
	}
}

.modal-body{
	&.slim-top{
		padding-top:5px;
	}
}



#modal-new-visitor{
	.modal-dialog{
		width:auto;
	}

	.modal-title{
		color:$secondary-blue;
	}

	.top-text{
		text-align:center;
		padding-bottom:15px;
	}

	p, li{
		font-size:1.2em;
	}

	.benefit-title{
		//font-size:1em;
	}

	.modal-benefit-holder{
		width:80%;
		margin:20px auto;
		padding:35px;
		background-color:$gray-xlight;
		border-radius:20px;
		box-shadow: 0px 2px 4px rgba(0,0,0,.5);
	}

	.modal-benefits{
	    ul,li{
	      list-style:disc;
	      padding:3px;
	      margin:0 0 0 15px;
	    }
	}

	.pitch-line{
		color:$secondary-blue;
		text-align:center;
		padding:15px 0;
		font-size:1.5em;
	}
}

